/*
 * The MIT License
 * Copyright (c) 2012 Matias Meno <m@tias.me>
 */
*{
  margin: 0;
  padding: 0;
}
h1{
  border: none
}
body{
    overflow-y: auto;
  font:100%/1.5em Arial,Helvetica,sans-serif;
  color: #04101C;
}
.neon {
  margin-bottom: 5%;
  margin-top: 5%;
  font-size: 50px;
  font-family: 'Futura';
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
  text-align: center;
}
header {
margin-top: 5%;
  margin-bottom: 5%;
}
.border_neon{
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
}
.container{

       position:fixed;
        top: 25%;
        left: 25%;
        width:50%;
         max-width: 90%;
        height:60%;
        border: 3px solid #fff;
        border-radius: 25px;
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #4899B7, 0 0 30px #4899B7, 0 0 40px #4899B7, 0 0 55px #4899B7, 0 0 75px #4899B7;
}
.container.cols {
  float: left;
  margin: 0 0 1em;
  padding: 0 1em;
  text-align: center;
}
.container.cols.col_3 {width:25.333333333%}
.container.cols.col_2 {width:16.666666666%}
.container.cols.col_1 {width:8.333333333%}

.form_fields{
  font-family: "comic sans ms", Times, serif;
  top: 20%;
  left: 34%;
  border: 1px ;
    color: #ff0080;
  border-radius: 5px;
  box-shadow:#ff0080;
  position: absolute;
}

.form_fields:focus {
  outline: none;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
 border-color: #ff0080;

}

.password_field{
    font-family: "comic sans ms", Times, serif;
    top: 35%;
    left: 34%;
    width: 200px;
    position: absolute;
    border: 1px;
    color: #42f44e;
    border-radius: 5px;
}
button.reg{
  top: 70%;
  left: 55%;
  width: 300px;
  font-family: "comic sans ms", Times, serif;
  width: 200px;
  position: absolute;
  color: #262826; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  padding: .7em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
  border: 3px;
  border-radius: 25px;
  box-shadow: 0 0 5px #fff, 0 0 20px #ff6a00, 0 0 30px #ff6a00, 0 0 40px #ff6a00;
}
button.reg:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
button.reg:active { background: rgb(152,15,0); } /* при нажатии */
.password_field:focus {

  outline: none;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #b716a4, 0 0 30px #b716a4, 0 0 40px #b716a4, 0 0 55px #b716a4, 0 0 75px #b716a4;
  border-color:#b716a4;
}
 button.button {
   top: 70%;
   left: 15%;

       font-family: "comic sans ms", Times, serif;
   width: 200px;
   position: absolute;
   color: #262826; /* цвет текста */
   text-decoration: none; /* убирать подчёркивание у ссылок */
   padding: .7em 1.5em; /* отступ от текста */
   outline: none; /* убирать контур в Mozilla */
   border: 3px;
   border-radius: 25px;
   box-shadow: 0 0 5px #fff, 0 0 20px #42f44e, 0 0 30px #42f44e, 0 0 40px #42f44e;
 }
 button.button:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
 button.button:active { background: rgb(152,15,0); } /* при нажатии */

.forgot_password{
font-family: "comic sans ms", Times, serif;
top:46%;
left: 28%;
position: absolute;
color: #fff;
}
label.reg_form{
  align-items: center;
  display: inline-block;
  width: 140px;
  color: #fff;
  text-align: right;
  margin-right: 10px;
   font-family: "comic sans ms", Times, serif;
}
label.label_reg {

}​
/*
*  registration
 */

 .form_label1 {
       padding-left: 95px ;

     }

     select.select-reg{

       border:1px solid #cecdcd;background:#f1f1f1;
       border-radius: 1px;
       height:30px;width:300px;
       line-height:30px;

       font-size: 13px;
       font-family: "comic sans ms", Tahoma, Verdana, Arial, Helvetica, sans-serif;
       color: #555;

     }
.field_wrapper_center_align{
     width:100%;
     text-align:center;
     margin-bottom: 1%;
align-items: center;
margin-left: -45px;
    }

    .form_fields_reg{
      border:1px solid #cecdcd;background:#f1f1f1;
      height:30px;width:300px;
      line-height:30px;
border-radius: 1px;
      font-size: 13px;
      font-family: "comic sans ms", Tahoma, Verdana, Arial, Helvetica, sans-serif;
      color: #555;
    }
    .neonRegistration {
      margin-bottom: 5%;
      margin-top: 5%;
      font-size: 50px;
      font-family: 'Futura';
      color: #fff;
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #4d7ac1, 0 0 30px #4d7ac1, 0 0 40px #4d7ac1, 0 0 55px #4d7ac1, 0 0 75px #4d7ac1;
      text-align: center;
    }
/*picckerrr0*/