<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Private Client Registration Form</title>
    <meta name="description"
          content="Our services are tailored to help expatriates living abroad, businesses or their clients, and those who own or plan to buy overseas assets such as property."/>
    <meta name="keywords"
          content="currency exchange specialists, FX, foreign exchange, forex, money transfers, sterling, euro, eurozone, exchange rates, currency planning, currency rates, currency trading, forward trading, Premier FX, Algarve, Portugal, www.premfx.com"/>
    <meta http-equiv="imagetoolbar" content="no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width; initial-scale = 1.0; maximum-scale=1.0; user-scalable=no"/>
    <link th:href="@{/resources/css/main.css}" rel="stylesheet" type="text/css"/>

</head>

<body  style="background-color:#04101C;">
<header>
    <h1 class="neon">Log in</h1>
</header>
<div th:if="${error != null}"  style="margin-bottom: 0px; color: red" >
    <div  th:text="${error}" style="margin: 0 auto; color: red">

    </div>
</div>
<form  id="userBean" th:object="${UserBean}" th:action="@{/join}"  method="POST" autocomplete="off">
    <div class="container">
        <div class="cols col_2">
            <input class="form_fields" placeholder="Username" id="j_username" name="j_username" th:field="*{login}" maxlength="32" type="text"/>

            <input class="password_field" placeholder="Password" type="password" name="paswword" th:field="*{password}" id="password"/>
        </div>


        <button  class="button" name="proceed" id="proceed" type="submit" >Submit</button>
        <button  class="reg" name="reg" id="reg" type="button" th:href="@{/registration}">&nbsp;Registration</button>
        <label class="forgot_password">Forgotten your password? <a href="" th:href="@{/public/forgotpassword}">&nbsp;Click here</a></label>
        <span >Not registered? <a th:href="@{/registration}">Sign up now</a></span>

    </div>

</form>


</body>
</html>
