<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width; initial-scale = 1.0; maximum-scale=1.0; user-scalable=no"/>
    <script src="http://code.jquery.com/jquery-1.9.0.js"></script>
    <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
    <link th:href="@{/resources/css/main.css}" rel="stylesheet" type="text/css"/>
<style>

    .success {
        border: 1px solid;
        margin: 10px 0px;
        padding:15px 10px 15px 50px;
        background-repeat: no-repeat;
        background-position: 10px center;
        color:red;
    }
</style>

</head>

<body  style="background-color:#04101C;">
  <header>
    <h1 class="neonRegistration">Registration</h1>
  </header>

    <form  id="userBean" th:object="${CustomerBean}" th:action="@{/registrationNew}"  method="post" autocomplete="off">

        <div th:if="${loginErr != null}"  style="margin-bottom: 0px; color: red" >
            <div  th:text="${loginErr}" style="margin: 0 auto; color: red">

            </div>
        </div>

            <div th:if="${success != null}" class="field_wrapper_center_align" style="margin-bottom: 0px;">
                <div class="success" th:text="${success}" style="margin: 0 auto;">

                </div>
            </div>

      <div class="field_wrapper_center_align">
                <label class="reg_form" >First Name:</label>
            <input  class="form_fields_reg" placeholder="Name" id="name"  th:field="*{firstName}"  maxlength="15" type="text" required="true"/>
      </div>

      <div class="field_wrapper_center_align">
                <label class="reg_form" >Second Name:</label>
            <input  class="form_fields_reg" placeholder="Second Name" id="Secondname"   th:field="*{secondName}" maxlength="15" type="text"/>
      </div>

        <div class="field_wrapper_center_align">
            <label class="reg_form" >Login:</label>
            <input  class="form_fields_reg" placeholder="Login" id="Login"   th:field="${UserBean.login}" maxlength="15" type="text"/>
        </div>


      <div class="field_wrapper_center_align">
                <label class="reg_form" >Birthday:</label>
            <input  class="form_fields_reg"  id="datepicker"   th:field="*{date}" type="date" />
      </div>

      <div class="field_wrapper_center_align">
                <label class="reg_form" >Gender:</label>
                <select class="select-reg"   th:field="*{gender}" required="true">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
      </div>

      <div class="field_wrapper_center_align">
                <label class="reg_form" >City:</label>
                <select class="select-reg"  th:field="*{city}" required="true">
                    <option value="Odessa">Odessa</option>
                    <option value="Another">Another</option>
                </select>
      </div>


      <div class="field_wrapper_center_align">
                <label class="reg_form" >Password:</label>
                <input class="form_fields_reg" cplaceholder="Password" type="password"   th:field="${UserBean.password}" id="password" required="true" size="6"/>
      </div>

      <div class="field_wrapper_center_align">
                <label class="reg_form" >Confirm password:</label>
                <input   class="form_fields_reg" placeholder="Confirm password" type="password"  id="confirm_password"  required="true" size="6"/>
      </div>

            <button   type="submit">Confirm</button>


    </form>


</body>

<script>

var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}
password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;

</script>
</html>
