<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WELCOME</title>
    <meta name="description"
          content="Our services are tailored to help expatriates living abroad, businesses or their clients, and those who own or plan to buy overseas assets such as property."/>
    <meta name="keywords"
          content="currency exchange specialists, FX, foreign exchange, forex, money transfers, sterling, euro, eurozone, exchange rates, currency planning, currency rates, currency trading, forward trading, Premier FX, Algarve, Portugal, www.premfx.com"/>
    <meta http-equiv="imagetoolbar" content="no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width; initial-scale = 1.0; maximum-scale=1.0; user-scalable=no"/>
    <link th:href="@{/resources/css/main.css}" rel="stylesheet" type="text/css"/>

</head>
<body style="background-color:#123868;">
<label class="neonRegistration">WELCOME</label>
</body>
</html>